<p><b>We exist to make investment <i>easier</i>.</b></p>
<br>
<p>There are lots of ways we can invest our hard earned savings, buts it’s not clear which investments will best help us to meet our financial goals. Often people have savings accounts and property but there are many other ways to invest, including: peer to peer lending and managed funds. Or similarly, what is better: renting vs buying property? Don’t miss out on the best opportunities merely since they are too hard to analyse. The investments need to match our circumstances.</p>
<br>
<p>With investment calculator you can automatically analyse a wide range of investment decisions and compare them side by side quantitatively. No longer do you need to build complex manual intensive spreadsheets. Our software creates in seconds, a set of concise metrics and model (table that forecasts monthly values over the life of the investment) to help you see the difference between each investment option. For example, which of the following is likely to give the best return after 5 years:</p>
<ul>
<li>
<p>Savings account at 3.1% p.a.</p>
</li>
<li>
<p>Peer to peer lending at 8.6% p.a. reinvested into the savings account</p>
</li>
<li>
<p>Managed fund with 0.9% fee whose last 5 years yield earnings of 11.1% annual effective return</p>
</li>
<li>
<p>Property purchased for $500k, with 10% deposit mortgage at 4% p.a., $10k buying costs, 5% selling costs and 6% p.a. property growth</p>
</li>
</ul>
<p>And then how do we minimise tax?</p>