<h3 id="what-is-investing">What is investing?</h3>
<p>There are many ways people talk about investing, our view is the following:</p>
<ul>
<li>
<p>Investing is giving up capital (usually cash) for a period of time in the hopes that it will pay income and/or increase in value.</p>
</li>
<li>
<p>Investing is long term (think years). If you want to make money in the short term, accept that this is a lot of hard work, and you’re often competing against giants (e.g. stock market speculators). For better or worse, finance in this sense is a <a href="https://en.wikipedia.org/wiki/Zero-sum_game" target="_blank">zero sum game</a>.</p>
</li>
<li>
<p>In the long term however, it’s less about competing as you are largely betting on economic growth (which is normally a good bet in most developed countries).</p>
</li>
<li>
<p>There are many ways to invest, but the best investment needs to match your circumstances. It’s about finding a balance between various factors including:</p>
<ul>
<li>
<p>Growth - increase in value of asset.</p>
</li>
<li>
<p>Cash-flow - how much cash comes and goes into your account(s).</p>
</li>
<li>
<p>Income - how much did you earn in a given period, which may or may not be cash.</p>
</li>
</ul>
</li>
</ul>