<h3 id="what-are-the-questions-you-need-to-ask">What are the questions you need to ask?</h3>
<p>The questions need to link back to our current and desired lifestyle and goals. Then we need to go about trying to answer them from our own research and calculations e.g.:</p>
<ul>
<li>
<p>How much money should I spend on expenses?</p>
</li>
<li>
<p>How should I invest my savings?</p>
</li>
<li>
<p>How should I invest my monthly surplus income?</p>
</li>
<li>
<p>Should I rent or buy?</p>
</li>
<li>
<p>How do I minimise tax?</p>
</li>
<li>
<p>Should I buy a solar or battery system for my home?</p>
</li>
</ul>