<h3 id="in-plain-english-investment-fund">In plain English - Fund</h3>
<p>If you invest <b>${{ capital }}</b> into a fund, which has expected annual return of <b>{{ earnings }}%</b> for <b>{{ years }} years</b>, while paying annual management fee of <b>{{ mgmt_fee }}%</b> of total investment value (regardless of fund performance) plus fixed annual fee of <b>${{ annual_fee }}</b>, then:</p>
<ul>
<li>
<p>It would take <b>{{ payback_period_words }}</b> for you to break even on this asset (i.e. have all your capital returned).</p>
</li>
<li>
<p>Your total balance after <b>{{ years }} years</b> will be: <b>${{ balance }}</b>, which has a return on investment (cash increase) of <b>{{ roi }}%</b>.</p>
</li>
<li>
<p>As a comparison, if you wanted to receive this same return from a savings account on it’s own, the rate would need to be <b>{{ compound_interest }}% p.a.</b>.</p>
</ul>