<h3 id="in-plain-english-investment-p2p-reinvest-into-savings">In plain English - P2P reinvest into savings</h3>
<p>If you invest <b>${{ capital }}</b> into a peer to peer loan at rate <b>{{ p2p_rate }}%</b> for <b>{{ years }} years</b>, with all monthly repayments being fed into a savings account at <b>{{ savings_rate }}%</b>, then:</p>
<ul>
<li>
<p>It would take <b>{{ payback_period_words }}</b> (<b>{{ payback_period }} years</b>) for you to break even on this asset (i.e. have all your capital returned).</p>
</li>
<li>
<p>Your total balance after <b>{{ years }} years</b> will be: <b>${{ balance }}</b>, which has a return on investment (cash increase) of <b>{{ roi }}%</b>.</p>
</li>
<li>
<p>As a comparison, if you wanted to receive this same return from a savings account on it’s own, the rate would need to be <b>{{ ci_equiv }}% p.a.</b>.</p>
</ul>