<p>Of all the questions we must ask about investing, perhaps the easiest place to start is “What do I do with my savings?” When comparing investment types, a good reference point is a savings account with monthly compounded interest; how well can the investment perform against a savings account? To extend this, we use a set of standardised metrics to understand the benefits of each investment type:</p>
<ul>
<li>
<p>Equivalent monthly compound interest rate p.a. (i.e. comparison to savings account).</p>
</li>
<li>
<p>Payback period - how long do you go without your capital, before it is fully returned to you.</p>
</li>
<li>
<p>Return on investment - what is the % increase of your capital.</p>
</li>
</ul>
<p>Take a look at the investment calculators below to understand what they mean and how you can calculate the benefits based on your situation.</p>