{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros/form.html' as form_macros %}
{% from 'macros/table.html' import render_table %}

{% block app_content %}
    <h2>Calculate fund investment</h2>
    <br>
    {% include g.intro %}
    <br>
    {{ form_macros.calc_form(form) }}
    <br>
    <br>

    {% if data is not none %}
        <script>
            document.location.hash = '#answer';
        </script>
        <div id = "answer">
            <br>
            <br>
            <br>
            <h3>Your results</h3>
            <br>
            {{ render_table(data, classes="table") | safe}}
        </div>

        <br>
        <div class = 'descriptions'>
            <h3>Click or scroll to see more about your results...</h3>
            <ul>
                <li><a href="#metric-desc">What do these metrics mean?...</a></li>
                <li><a href="#whatif">'What if' Analysis...</a></li>
                <li><a href="#invmodel">Investment Model - {{ dataframe_name }}...</a></li>
            </ul>
            <br>
            <br>
            {% include g.in_plain_english %}
            <br>
            <h3 id="metric-desc" class="anchor">What do these metrics mean?</h3>
            <ul>
            {% for label, description in metrics %}
    			<li><b>{{label}}</b> - {{description}}<br></li>
    		{% endfor %}
            </ul>
            <br>
    	</div>
        <br>
        <h3 id="whatif" class="anchor">'What if' Analysis</h3>
        {% include g.whatif_intro %}
        <br>
        <h4>What if management fee was different?</h4>
        <div style="text-align: center">{{ mgmt_fee_whatif_plot|safe }}</div><br><br>
        <h4>What if annual fee was different?</h4>
        <div style="text-align: center">{{ annual_fee_whatif_plot|safe }}</div><br><br>
        <h4>What if estimated earnings were different?</h4>
        <div style="text-align: center">{{ earnings_whatif_plot|safe }}</div><br><br>
        <h3 id="invmodel" class="anchor">Investment Model - {{ dataframe_name }}</h3>
        {% include g.full_model_description %}
        <br>
        {{ render_table(dataframe, classes="table table-striped") | safe}}
    {% else %}
    {% endif %}
    <br>
    <br>

{% endblock %}